/* GENERAL */
 
html,body,h1,h2,h3,h4,h5,h6 {font-family: Helvetica, sans-serif;}

body {
  font-size: large;
  background-color: #f2f2f2;
}

.footer {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 45px;
}

 /* The side navigation menu */
.sidebar {
  margin: 0px;
  width: 216px;
  background-color: #cccccc;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
}

/* Sidebar links */
.sidebar a, .sidebar .copyright {
  display: block;
  font-size: large;
  text-decoration: none;
}

.sidebar a {
  color: black;
  padding: 10px 6px; /* button margins */
  border: 4px outset #e6e6e6;
}

.sidebar .copyright {
  padding: 16px;
  position: relative;
  bottom: 0px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4d4d4d;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #737373;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 5px 36px;
  height: 100%;
}

/* On screens that are less than ???px wide, make the sidebar into a topbar (update: does not happen, jump right to next case) */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .sidebar .copyright {
    position: relative;
    float: right;
   }  
}

/* On screens that are less than ???px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 700px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .sidebar .copyright {
    text-align: center;
    float: none;}  
}
  
  
   

.seminar {
    font-style: italic; /* Italicize the word 'Seminar' */
	font-weight: normal; 
	font-size: 1.33em;  /* Smaller size for the tagline */
}

.tagline {
    font-size: 0.52em;  /* Smaller size for the tagline */
    font-weight: bold; 
    display: block;  /* Ensure it is on a new line */
    margin-top: 1px;  /* Space between title and tagline */
}
  
  
  

.reference-list {
    list-style-type: none;
    counter-reset: reference-counter;
    padding-left: 1em;		
    }
.reference-list li {
    margin: 5px 0;
}	
.reference-list li::before {
    content: '[' counter(reference-counter) '] ';
    counter-increment: reference-counter;
	padding-right: .5em; 
}    
 
 
.publication-list {
    }
.publication-list li {
    margin: 14px 0;
}	 
   
   
   
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
    box-shadow: 0 12px 12px #cccccc; /* Add a soft shadow */ 
}

table td:first-child {
    width: 100px;  /* Adjust as needed to fit time */
    white-space: nowrap;  /* Prevent text wrapping */
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

tr {
    background-color: #fafafa;
}

tr.day-header {
    background-color: #cccccc;
    font-weight: bold; 
    text-align: left;
    padding: 10px;
    transition: background-color 0.3s ease;
}

tr.day-header.active {
  background-color: #4d4d4d;
  color: white;
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 .under-construction {
    background-color: white;
    color: #f0ad4e;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.under-construction h2 {
    font-size: 2em;
    margin: 0;
}

.under-construction p {
    font-size: 1.2em;
    margin-top: 10px;
}

.under-construction h2, .under-construction p {
    margin-bottom: 0;
} 

